@media all and (max-width: 450px) {


    body {
        font-size: 14px;
    }
    #navbar{
        display: none;
    }

    #logo {
        display: none;

    }
    #home::before {
        margin-top: -12vh;
        width: 121%;
        margin-right: 10vh;
        height: 70vh;
    }

    .h-primary {
        margin-left: -16.5rem;
        margin-top: -24vh;
        font-size: 3vh;
    }
    .bothHP{
        width: 46vh;
        height: 92vh;
    }
    .homeP {
    width: 33vh;
    display: flex;
    justify-content: center;
    margin-left: 8vh;
    margin-top: 2vh;
    }

    .bothHP {
        margin-top: 30vh;
    }

    .inspire-container {
        margin-top: -16vh;
        text-align: center;
        margin-left: 25vh;
    }

    .h-primaryy {
        margin-right: 151vh;
        margin-top: 10vh;
        width: 50vh;
        margin-left: -27.5vh;
        font-size: 5vh;
    }
    .h-secondary{
        font-size: 2vh;
        width: 40vh;
        margin-left: -21vh;
        margin-right: 75vh;
    }
    .knowmore1{
        margin-left: -91vh;
        background-color: rgb(238, 237, 245);
        color: rgb(14, 104, 239);
        width: 15vh;
        margin-top: 78vh;
    }
    .knowmore2{
        margin-left: -91vh;
        background-color: rgb(238, 237, 245);
        color: rgb(14, 104, 239);
        width: 15vh;
        margin-top: 78vh;
    }
    .knowmore4{
        margin-left: -91vh;
        background-color: rgb(238, 237, 245);
        color: rgb(14, 104, 239);
        width: 15vh;
        margin-top: 79vh;
    }
    .knowmore6{
        margin-left: -91vh;
        background-color: rgb(238, 237, 245);
        color: rgb(14, 104, 239);
        width: 15vh;
        margin-top: 79vh;
    }
    

    #inspire {
        /* margin-top: 10vh; */
        display: flex;
        flex-direction: row;
        margin-left: -75vh;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, auto)
    }

    #inspire .box {
        width: 20rem;
        padding: 20vh;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-left: 37.5vh;
        flex-direction: column;
        height: 105vh;
        
    }

    #inspire .box img {
        margin-top: -15vh;
        width: 30vh;
        margin-left: -8.5rem;
    }

    .center {
        width: 36vh;
        margin-top: 12vh;
        margin-left: -116vh;
    }

    #fImg {
        margin-left: 3vh;
        margin-top: -6vh;
    
    }

    .ic {
        margin-left: 2vh;
        width: 110vh;
    }

    .more{
        margin-left: 44vh;
        
    }
    .copyright{
        margin-right: 1vh;
        margin-left: 3vh;
    }
}
