/* CSS Reset  */
* {
    margin: 0px;
    padding: 0px;
    /* height: 1600px; */
}

/* Css Variables */
:root {
    --navbar-height: 50px;
}

/* Navigation Bar  */
#navbar {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    height: 200px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

/* Logo and Image  */
#logo {
    margin: 5px 4px 5px 4px;
}

#logo img {
    height: 150px;
    margin: 5px 4px 5px 4px;
}

/* Navbar-List Styling  */


#navbar ul {
    display: flex;
}

#navbar ul li {
    color: lightslategray;
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 23px 3px 22px;
    text-decoration: none;
    border-radius: 10px;

}

#navbar ul li a:hover {
    color: rgb(12, 101, 236);
    background-color: rgb(255, 255, 255);
}

#home {
    display: flex;
    flex-direction: column;
    padding: 10px 200px;
    justify-content: center;
    align-items: center;
    height: 700px;
    top: 0px;
}
#openNav{
    display: none;
}
#closeNav{
    display: none;
}
#toggleNav{
    display: none;
}
.signOut{
    display: none;
}
#home::before {
    content: "";
    background: url(AV2\ BG2.jpg) no-repeat center center/cover;
    position: absolute;
    height: 107%;
    width: 100%;
    z-index: -1;
    opacity: 1;
    margin-top: -20vh;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Pacifico', cursive;
}

/* Inspire classes */
.inspire-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* height: 500vh; */
    width: 100%;
}

#inspire {
    margin-top: 15vh;
    display: grid;
    flex-direction: row;
    margin-left: -75vh;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, auto);

}

#inspire .box {
    border: 2px solid white;
    padding: 10px;
    width: 53vh;
    margin: 35px 74px;
    border-radius: 10px;
    background-color: rgb(245, 213, 109);
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    height:120vh;

}


#inspire .box img {
    height: 150px;
    width: 250px;
/*     transition: all 1s ease-in; */
    margin-left: 30px;
    /* transition: transform 2s; */

}
/* .box:hover .overlay-image {
    /* opacity: -1; */

#inspire .box img:hover {
    height: 200px;
    width: 300px;
    /* transform: scaleX(-1); */

}
 */
#inspire .box p {
    font-size: 1.1rem;
    font-family: Verdana;
}

/* .box .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: opacity 0.5s;
} */

/* Utility classes */
.h-primaryy {
    font-size: 3.2rem;
    font-family: 'Caveat', cursive;
    margin-left: 80vh;
    margin-top: 20px;
    width: 60vh;

}

.h-primary {
    color: white;
    font-size: 3.2rem;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
    margin-left: 31vh;
    width: 116vh;
}

.h-secondary {
    font-size: 2.2rem;
    padding: 20px;
    margin-left: 3vh;
}

.btn {
    padding: 10px 20px;
    border: 2px solid rgb(255, 254, 254);
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;

}

.btn:hover {
    background-color: rgb(239, 200, 200);
    text-decoration: none;

}

.knowmore1 {
    margin-top: 2vh;
    margin-left: 30vh;
}

.knowmore2 {
    margin-left: 31vh;
    margin-top: 2vh;
}

.knowmore4 {
    margin-left: 33vh;
    margin-top: 15vh;
}

.knowmore6 {
    margin-left: 33vh;
    margin-top: 5.4vh;
}

.center {
    text-align: center;
    /* margin-left: 50vh; */
}

.copyright {
    text-align: center;
    margin-left: 8vh;
    margin-bottom: 1vh;
    /* margin-left: 50vh; */
}
.more{
    margin-left: 10vh;
}

/* Clients Section  */
#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    margin: 45px 97px 8px 53px;
    padding: 15px;
}

.client-item img {
    height: 180px;
    width: 200px;
    transition: all 1s ease-in-out;
}

.client-item img:hover {
    background-color: rgb(252, 221, 221);
    border-radius: 5px;
    cursor: pointer;
    height: 200px;
    width: 220px;
}

.tsh {
    color: #1f9fff;
    text-align: center;
    margin-top: -25px;
}

#fImg {
    width: 40vh;
    margin-left: 90vh;
}

.fa-fa-google {
    margin-left: 3vh;
    font-size: 50px;
    cursor: pointer;
    padding: 20px;
}

.fa-git {
    padding: 20px;
    margin-left: 15px;
    cursor: pointer;
}

.fa-instagram {
    padding: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.fa-linkedin-square {
    padding: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.ic {
    width: 100vh;
    /* border: 2px solid black; */
    margin-left: 84vh;
    /* border-radius: 5px; */
    margin-top: -30px;
    padding: 20px;
}
.more{
    margin-left: 14vh; 
    font-size: 18px;
}
.g-signin2{
    margin-left: 193vh;
    /* width: 20vh; */
    margin-top: 2vh;
}
.abcRioButton{
    height: 33px;
    width: 86px;
    border-radius: 21px;
}
.card-body{
    background-color: rgb(245, 213, 109);
}
.card-title{
    margin-left: 5vh;}
.d-block{
    border-radius: 2vh;
    margin-top: 40vh;
    margin-left: 55vh;
    width: 45%;
    height: 80vh;
}
.carousel-control-prev-icon{
    margin-top: 40vh;
    
    background-color: black;
}
.carousel-control-next-icon{
    margin-top: 40vh;
    background-color: black;
}
.carousel{
    margin-top: -50vh;
}
.soundH{
    margin-top: 50vh;
    margin-left: 73vh;
    font-family: 'Bebas Neue', sans-serif;
}
.card{
    --bs-card-border-color: none;
}
.click{
    margin-top: 20vh;
}
.poetsociety{
    margin-left: 60vh;
    margin-top: 20vh;
}
.hPS{
    margin-left: 18vh;
}

/* .copyright{
    margin-left: 60vh;
} */
